.container{
    box-sizing: border-box;
    max-width: 450px;
    padding: 35px 15px;
    margin-left: auto;
    margin-right: auto;
    min-width: 350px;
    font-family: 'DM Sans', sans-serif;
}
.image {
    width: 150px;
}
.ul{
    padding: 0;
    text-align: center;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.pInstruction{
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 146.2%;  
    margin-top:0;
    margin-bottom: 0px;
    text-align: center;
    color: gray;
    margin-bottom: 25px;
}
.divA{
    display: block;
    text-align: center;
}
.aTelegram{
    display: inline-block;
    color:white;
    background-color: #0088cc;
    border-radius:5px;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 70%;
    margin-bottom: 10px;
}

.aWhatsApp{
    display: inline-block;
    color: white;
    background-color: #25D366;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 70%;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom: 10px;
}

.aNumber{
    display: inline-block;
    color: white;
    background-color: gray;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    font-size: 15px;
    width: 70%;
}

.productName{
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 15px;
}
.btnDel{
    background-color: gray;
    color: white;
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    
}
.divProduct{
    background-color: rgb(73, 79, 95);
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
}

.li:not(:last-child){
    margin-bottom: 20px;
}