.container {
  margin-left: auto;
  margin-right: auto;
}
.ul {
  padding: 0;
  text-align: center;
  margin-top: 0;
}

.Articul{
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0px;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-bottom: 25px;
}
.pInstruction {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0px;
  text-align: center;
  color: gray;
  margin-bottom: 25px;
}

.divA {
  display: block;
  text-align: center;
}

.aTelegram {
  display: inline-block;
  color: white;
  background-color: #0088cc;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  text-decoration: none;
}

.aWhatsApp {
  display: inline-block;
  color: white;
  background-color: #25d366;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-decoration: none;
}

.aNumber {
  display: inline-block;
  color: white;
  background-color: gray;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .container {
    box-sizing: border-box;
    max-width: 450px;
    padding: 30px 15px;
    min-width: 350px;
    font-family: "DM Sans", sans-serif;
  }
  .Articul{
    font-size: 15px;
  }
  .pInstruction {
    font-size: 18px;
  }
  .aTelegram {
    font-size: 15px;
    width: 70%;
  }
  
  .aWhatsApp {
    width: 70%;
    font-size: 15px;
  }
  
  .aNumber {
    font-size: 15px;
    width: 70%;
  }
}
@media (max-width: 1200px) and (min-width: 768px) {
  .container{
    padding: 30px 15px 30px 15px;
    width: 768px;
  }
  .Articul{
    font-size: 22px;
  }
  .pInstruction {
    font-size: 22px;
  }
  .aTelegram {
    font-size: 22px;
    width: 60%;
  }
  .aWhatsApp {
    width: 60%;
    font-size: 22px;
  }
  .aNumber {
    font-size: 22px;
    width: 60%;
  }
}
@media screen and (min-width: 1201px) {
  .container{
    padding: 30px 15px 30px 15px;
    width: 1201px;
  }
  .pInstruction {
    font-size: 24px;
  }
  .Articul{
    font-size: 24px;
  }
  .aTelegram {
    font-size: 24px;
    width: 60%;
  }
  .aWhatsApp {
    width: 60%;
    font-size: 24px;
  }
  .aNumber {
    font-size: 24px;
    width: 60%;
  }
}