.container {
  margin-left: auto;
  margin-right: auto;
}
.div {
  background-image: url("backgroundAboutUs.png");
  text-align: center;
  width: 100%;
}
.p {
  color: rgb(255, 255, 255);
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 146.2%;
  margin-top: 0px;
  margin-bottom: 10px;
}
.p2 {
  color: rgb(255, 255, 255);
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 146.2%;
  margin-bottom: 50px;
}

.button {
  background: rgba(255, 0, 0, 0);
  border: white 1px solid;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .container {
    box-sizing: border-box;
    padding: 15px;
    max-width: 450px;
    min-width: 350px;
  }
  .div {
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
  }
  .p {
    font-size: 15px;
  }
  .p2 {
    font-size: 15px;
  }
  
  .button {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    width: 140px;
  }
}
@media (max-width: 1200px) and (min-width: 768px) {
  .container{
    padding: 30px 15px 30px 15px;
    width: 768px;
    justify-content: center;
  }
  .p {
    font-size: 22px;
  }
  .p2 {
    font-size: 22px;
  }
  .div {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .button {
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 22px;
    width: 250px;
  }
}
@media screen and (min-width: 1201px) {
  .container{
    padding: 30px 15px 30px 15px;
    width: 1201px;
    justify-content: center;
  }
  .p {
    font-size: 24px;
  }
  .p2 {
    font-size: 24px;
  }
  .div {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .button {
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 24px;
    width: 350px;
  }
}