.container {
  box-sizing: border-box;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  min-width: 350px;
}
.div {
  box-sizing: border-box;
  background-image: url("backgroundAboutUs.png");
  text-align: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.p {
  color: rgb(255, 255, 255);
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 146.2%;
  margin-top: 0px;
  margin-bottom: 10px;
}
.p2 {
  color: rgb(255, 255, 255);
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 146.2%;
  margin-bottom: 50px;
}

.button {
  background: rgba(255, 0, 0, 0);
  border: white 1px solid;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  font-family: "DM Sans", sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 600;
}
