.container{
    margin-left: auto;
    margin-right: auto;
}
.h1{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: 'Orbitron', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF; 
}
.fig{
    display: block;
    text-align: center;
    margin: 0
}
@media screen and (max-width: 767px) {
    .container{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .h1{
        font-size: 40px;
        letter-spacing: 0.12em;
    }
    .kanye{
        width: 150px;
        height: 200px;
    }
}
@media (max-width: 1200px) and (min-width: 768px) {
    .container{
        padding: 70px 15px 50px 15px;
        width: 768px;
    }
    .h1{
        font-size: 64px; 
        letter-spacing: 0.15em;
    }
    .kanye{
        width: 230px;
        height: 300px;
    }
}
@media screen and (min-width: 1201px) {
    .container{
        padding: 70px 15px 50px 15px;
        width: 1201px;
    }
    .h1{
        font-size: 90px; 
        letter-spacing: 0.17em;
    }
    .kanye{
        width: 450px;
        height: 600px; 
    }
}