.container{
    margin-left: auto;
    margin-right: auto;
}
.ul{
    display: flex;
    padding: 0;
    margin: 0;
}
.li{
    list-style: none;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    color: white;
}
.buttonnav{
    box-shadow: none;
    background-color: #003d7a00;
    border: white 1px solid;
    border-radius: 10px;
    color: white;
    font-family: "DM Sans", sans-serif;
    padding: 0;

}
@media screen and (max-width: 767px) {
    .container{
        box-sizing: border-box;
        padding: 15px;
        max-width: 450px;
        min-width: 350px;
    }
    .ul{
        justify-content: space-between;
    }
    .buttonnav{
        font-size: 12px;
        width: 80px;
        height: 20px;
    }
}
@media (max-width: 1200px) and (min-width: 768px) {
    .container{
        padding: 30px 15px 30px 15px;
        width: 768px;
    }
    .buttonnav{
        font-size: 22px;
        width: 150px;   
        transition: 1s; 
    }
    .buttonnav:hover{
        box-shadow: 0 0 30px rgb(15, 17, 87) inset;
        transition: 0.8s;
    }
    .ul{
        justify-content: center; 
    }
    .li:not(:last-child){
        margin-right: 15px;
    }
}
@media screen and (min-width: 1201px) {
    .container{
        padding: 30px 15px 30px 15px;
        width: 1201px;
    }
    .buttonnav{
        font-size: 24px;
        width: 200px; 
        transition: 1s;  
    }
    .buttonnav:hover{
        box-shadow: 0 0 30px rgb(15, 17, 87) inset;
        transition: 0.8s;
    }
    .ul{
        justify-content: center; 
    }
    .li:not(:last-child){
        margin-right: 20px;
    }
}