.container{
    box-sizing: border-box;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    min-width: 350px;
}
.ul{
    display: flex;

    padding: 0;
    margin: 0;
    justify-content: space-between;
}
.li{
    list-style: none;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    color: white;
    font-size: 15px;
}
.buttonnav{
    background-image: linear-gradient(to right, #003D7A 0%, rgba(1, 83, 165, 0.8) 50%, rgba(1, 83, 165, 0.62) 88.56%);
    font-size: 13px;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 10px;
    color: white;
    font-family: "DM Sans", sans-serif;
    width: 85px;

}
