.container{
    box-sizing: border-box;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    min-width: 350px;
}
.divPhone{
    display: flex;
    margin-bottom: 25px;
}
.divTelegram{
    display: flex;
}
.phone{
    display: inline-block;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 15px;
    letter-spacing: 0.12em;
    color: #000000;
    margin: 0;
    line-height: 27px;
}
.telegram{
    display: inline-block;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 15px;
    letter-spacing: 0.12em;
    color: #000000;
    margin: 0;
    line-height: 27px;   
}
.phoneIcon{
    margin-right: 10px;
}
.telegramIcon{
    margin-right: 10px;
}
