ul{
    padding: 0;
}
.li{
    margin-bottom: 20px;
    list-style: none;
    text-align: center;
}

.image {
    width: 200px;
    display: block;
}
.p{
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}
.divProduct{
    background-color: rgb(73, 79, 95);
    padding: 15px;
    border-radius: 5px;
    display: inline-block;
}
button{
    font-size: 12px;
    background-color: gray;
    color:white;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}