.li {
  display: flex;
  list-style: none;
  /* text-align: center; */
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.productCharactersContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 150px;
}

.name {
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 7px;
  font-family: "DM Sans", sans-serif;
}
.price {
  text-align: center;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 7px;
  font-family: "DM Sans", sans-serif;
}
.season {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "DM Sans", sans-serif;
}
.description{
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "DM Sans", sans-serif;
}
.span_description {
  font-weight: 600;
}
.season_span:not(:last-child) {
  margin-right: 5px;
  display: inline-block;
}

.buttonNotAdded {
  font-size: 14px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 10px;
  font-family: "DM Sans", sans-serif;
}

.buttonAdded {
  font-size: 14px;
  background-color: rgb(83, 136, 83);
  color: white;
  border: none;
  border-radius: 10px;
  font-family: "DM Sans", sans-serif;
}
@media screen and (max-width: 767px) {
  .li:not(:last-child) {
    margin-bottom: 20px;
  }
  .image_container {
    width: 150px;
    height: 225px;
  }
  .productCharactersContainer {
    max-width: 140px;
  }
  .li {
    justify-content: space-around;
  }
  .buttonNotAdded {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .buttonAdded {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media (max-width: 1200px) and (min-width: 768px) {
  .image_container {
    width: 190px;
    height: 300px; 
    margin-right: 50px;
  }
  .li {
    justify-content: center;
  }
  .li:not(:last-child){
    margin-bottom: 30px;
  }
  .productCharactersContainer {
    max-width: 180px;
  }
  .name {
    font-size: 22px;
  }
  .price {
    font-size: 22px;
  }
  .season {
    font-size: 22px;
  }
  .description{
    font-size: 22px;
  }
  .buttonNotAdded {
    font-size: 16px;
    background-color: gray;
    padding: 10px;
  }
  .buttonAdded {
    font-size: 16px;
    background-color: rgb(83, 136, 83);
    padding: 10px;
  }
}
@media screen and (min-width: 1201px) {
  .image_container {
    width: 250px;
    height: 350px;
    margin-right: 50px;
  }
  .li {
    justify-content: center;
  }
  .li:not(:last-child){
    margin-bottom: 30px;
  }
  .productCharactersContainer {
    max-width: 210px;
  }
  .name {
    font-size: 24px;
  }
  .price {
    font-size: 24px;
  }
  .season {
    font-size: 24px;
  }
  .description{
    font-size: 24px;
  }
  .buttonNotAdded {
    font-size: 20px;
    background-color: gray;
    padding: 12px;
  }
  .buttonAdded {
    font-size: 20px;
    background-color: rgb(83, 136, 83);
    padding: 12px;
  }
}